In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [108]:
import numpy as np

In [198]:
def cleaning(df):
    def label_encoder(df,col_name):
        le_encoders = {}
        le = LabelEncoder()
#     le_encoders[col_name] = le
        df[col_name] = le.fit_transform(df[col_name])
        return df

    def onehot_encoder(df,col_name):
        enc_df = df.copy()
        encoder = OneHotEncoder()
        encoded = encoder.fit_transform(
                df[col_name].values.reshape(-1, 1)).toarray()
        enc_df = pd.concat([
                enc_df, 
                pd.DataFrame(
                    encoded,
                    columns=[f'{col_name}_{cat}' for cat in encoder.categories_[0]])],
                axis=1)
        enc_df = enc_df.drop(col_name, axis=1)
        return enc_df

    def check_null_each_column(df):
        count = 0
        null_column = []
        for col in df:
            if(df[col].isnull().sum()!=0):
                print(col + "have null ->" + str(df[col].isnull().sum()))
                count+=1
                null_column.append(col)
        print("  Column which have null have " + str(count))
        return null_column
    
    def cvtRatingToNumeric(df,colname):
        df[colname].fillna(0,inplace = True)
        df[colname] = df[colname].replace(['Ex','Gd','TA','Fa','Po'], [5, 4, 3, 2, 1])
        #Creted by Sidekoiii
        df[colname] = df[colname].astype(int)
        return df
    
    def cvtRatingToNumeric2(df,column):
        df[column].fillna(0,inplace = True)
        df[column] = df[column].replace(['Gd','Av','Mn','No'], [4, 3, 2, 1])
        #Creted by Sidekoiii
        return df
    
    def cvtRatingToNumeric3(df,colname):
        df[colname].fillna(0,inplace = True)
        df[colname] = df[colname].replace(['GLQ','ALQ','BLQ','Rec','LwQ','Unf'], [6,5, 4, 3, 2, 1])
        #Creted by Sidekoiii
        return df
    
    def cvtRatingToNumeric4(df,colname):
        df[colname].fillna(0,inplace = True)
        df[colname] = df[colname].replace(['GdPrv','MnPrv','GdWo','MnWw'], [4, 3, 2, 1])
        #Creted by Sidekoiii
        return df
    
    
    
#     LotFrontage
    temp_df = df[df['isTrain'] == True]
    temp_Lot = temp_df['LotFrontage'].dropna()
    df['LotFrontage'] = df['LotFrontage'].fillna(float(int(temp_Lot.mean())))
    
#     MSZoning
    temp_name_column = "MSZoning"
    df['MSZoning'] = df['MSZoning'].fillna("None")
    df = label_encoder(df,temp_name_column)
    
    
#     Street
    temp_column = 'Street'
    df = onehot_encoder(df,temp_column)
    
#     Alley
    df['Alley'].fillna("No alley access", inplace = True) 
    temp_col = "Alley"
    df = onehot_encoder(df,temp_col)
    
#     Lot Shape
    df['LotShape'] = df['LotShape'].fillna(-10)
    df['LotShape'] = df['LotShape'].replace("IR1",1)
    df['LotShape'] = df['LotShape'].replace("IR2",2)
    df['LotShape'] = df['LotShape'].replace("IR3",3)
    df['LotShape'] = df['LotShape'].replace("Reg",0)
    
#     LandContour
    df['LandContour'] = df['LandContour'].fillna(-10)
    df['LandContour'] = df['LandContour'].replace("Lvl",0)
    df['LandContour'] = df['LandContour'].replace("Bnk",1)
    df['LandContour'] = df['LandContour'].replace("HLS",2)
    df['LandContour'] = df['LandContour'].replace("Low",3)
    
#     Utilities
    df['Utilities'] = df['Utilities'].fillna("Unk")
    temp_col = "Utilities"
    df = label_encoder(df,temp_col)
    
#     LotConfig
    df['LotConfig'] = df['LotConfig'].fillna('Unk')
    temp_col = 'LotConfig'
    df = onehot_encoder(df,temp_col)
    
#     LandSlope
    df['LandSlope'] = df['LandSlope'].fillna(3)
    df['LandSlope'] = df['LandSlope'].replace("Gtl",0)
    df['LandSlope'] = df['LandSlope'].replace("Mod",1)
    df['LandSlope'] = df['LandSlope'].replace("Sev",2)
    
#     Neighborhood
    df['Neighborhood'] = df['Neighborhood'].fillna('Unk')
    temp_col = 'Neighborhood'
    df = onehot_encoder(df, temp_col)
    
#     Condition1
    df['Condition1'] = df['Condition1'].fillna(0)
    df["Condition1"] = df["Condition1"].replace(['Norm', 'Feedr', 'PosN', 'Artery', 'RRAe', 'RRNn', 'RRAn', 'PosA',
           'RRNe'], [5,7,2,9,8,3,6,1,4])
    
#     condition2
    df['Condition2'] = df['Condition2'].fillna('Unk')
    temp_col = "Condition2"
    df = label_encoder(df,temp_col)
    
#     BldgType
    df['BldgType'] = df['BldgType'].fillna('Unk')
    temp_col = "BldgType"
    df = onehot_encoder(df, temp_col)
    
#     HouseStyle
    df['HouseStyle'] = df['HouseStyle'].fillna('Unk')
    temp_col = "HouseStyle"
    df = label_encoder(df,temp_col)
    
#     OverallQual,OverallCond,yearBuilt,yearremodAdd -> numeric

#     RoofStyle
    df['RoofStyle'] = df['RoofStyle'].fillna('Unk')
    temp_col = "RoofStyle"
    df = label_encoder(df,temp_col)
    
#     RoofMatl
    df['RoofMatl'] = df['RoofMatl'].fillna('Unk')
    temp_col = "RoofMatl"
    df = label_encoder(df,temp_col)
    
    def rapunzelMagic(df):
        exteriorType = {'AsbShng','AsphShn','BrkComm','BrkFace','CBlock','HdBoard','ImStucc',
                    'MetalSd','Other','Plywood','PreCast','Stone','Stucco','VinylSd','Wd Sdng','WdShing','Unk'}
        count_row = df.shape[0]
        for exteriorName in exteriorType:
            df['Exterior_' + exteriorName] = 0
        for i in range(0,count_row):
            for exteriorName in exteriorType:
                if(np.logical_or(df.loc[i,'Exterior1st'] == exteriorName, df.loc[i,'Exterior2nd'] == exteriorName)):
                    df.loc[i,'Exterior_'+ exteriorName] = 1
        df = df.drop(columns = ['Exterior1st','Exterior2nd'])
        return df
    
#     Exterior1st,Exterior2nd
    df['Exterior1st'] = df['Exterior1st'].fillna('Unk')
    df['Exterior2nd'] = df['Exterior2nd'].fillna('Unk')
    df = rapunzelMagic(df)    

        
#     MasVnrType
    df['MasVnrType'] = df['MasVnrType'].fillna("None")
    temp_col = 'MasVnrType'
    df = label_encoder(df,temp_col)
    
#     MasVnrArea
    temp_df = df[df['isTrain'] == True]
    temp = temp_df['MasVnrArea'].dropna()
    df['MasVnrArea'] = df['MasVnrArea'].fillna(float(int(temp.mean())))
    
#     ExterQual
    temp_col = 'ExterQual'
    df = cvtRatingToNumeric(df,'ExterQual')
    
#     ExterCond
    df = cvtRatingToNumeric(df,'ExterCond')
    
#     Foundation
    df = label_encoder(df,'Foundation')
    
#     BsmtQual
    df = cvtRatingToNumeric(df,'BsmtQual')
    
#     BsmtCond
    df = cvtRatingToNumeric(df,'BsmtCond')
    
#     BsmtExposure
    df = cvtRatingToNumeric2(df,'BsmtExposure')
    
#     BsmtFinType1
    df =cvtRatingToNumeric3(df,'BsmtFinType1')
    
#     BsmtFinSF1 -> numeric
    temp_df = df[df['isTrain'] == True]
    temp = df['BsmtFinSF1'].dropna()
    df['BsmtFinSF1'] = df['BsmtFinSF1'].fillna(float(int(temp.mean())))

#     BsmtFinType2
    df = cvtRatingToNumeric3(df,'BsmtFinType2')
    
#     BsmtFinSF2,BsmtUnfSF,TotalBsmtSf -> numeric
    
#     TotalBsmtSf
    temp_df = df[df['isTrain'] == True]
    temp = df['TotalBsmtSF'].dropna()
    df['TotalBsmtSF'] = df['TotalBsmtSF'].fillna(int(temp.mean()))


    
#     BsmtFinSF2
    temp_df = df[df['isTrain'] == True]
    temp = df['BsmtFinSF2'].dropna()
    df['BsmtFinSF2'] = df['BsmtFinSF2'].fillna(float(int(temp.mean())))

#     BsmtUnfSF
    temp_df = df[df['isTrain'] == True]
    temp = df['BsmtUnfSF'].dropna()
    df['BsmtUnfSF'] = df['BsmtUnfSF'].fillna(float(int(temp.mean())))
    
#     Heating
    df = label_encoder(df,'Heating')
    
#     HeatingQC
    df = cvtRatingToNumeric(df,'HeatingQC')
    
#     CentalAir
    df = label_encoder(df,'CentralAir')
    
#     Electrical
    df['Electrical'] = df['Electrical'].fillna("dontknow")
    df = label_encoder(df,'Electrical')
    
#     1stFlrSf,2ndFlrSF,LowQualFinSF,GrLivArea,FullBath,HalfBath,BedroomadvGr,KitchenAbvGr,->numeric

#     BsmtFullBath->numeric
    temp = df[df['isTrain'] == True]
    temp = temp['BsmtFullBath'].dropna()
    df['BsmtFullBath'] = df['BsmtFullBath'].fillna(float(int(temp.mean())))

#     BsmtHalfBath->numeric
    temp = df[df['isTrain'] == True]
    temp = temp['BsmtHalfBath'].dropna()
    df['BsmtHalfBath'] = df['BsmtHalfBath'].fillna(float(int(temp.mean())))

#     KitchenQual
    df = cvtRatingToNumeric(df,'KitchenQual')
    
#     TotRmsAbvGrd -> numeric

#     Functional
    df['Functional'] = df['Functional'].fillna("None")
    df = label_encoder(df,'Functional')
    
#     Fireplace ->numeric

#     FireplaceQU
    df = cvtRatingToNumeric(df,'FireplaceQu')
    
#     GarageType
    df['GarageType'].fillna("No garage", inplace = True)
    df = label_encoder(df,'GarageType')
    
#     GarageYrBlt
    df = df.drop(columns=['GarageYrBlt'])
    
#     GarageFinish
    df['GarageFinish']=df['GarageFinish'].fillna("No garage")
    df = label_encoder(df,'GarageFinish')
    
#     GarageCar->numeirc
    temp = df[df['isTrain'] == True]
    temp = temp['GarageCars'].dropna()
    df['GarageCars'] = df['GarageCars'].fillna(int(temp.mean()))
#     GarageArea->numeirc
    temp = df[df['isTrain'] == True]
    temp['GarageArea'] = temp['GarageArea'].dropna()
    df['GarageArea'] = df['GarageArea'].fillna(int(temp['GarageArea'].mean()))

#     GarageQual
    df = cvtRatingToNumeric(df,'GarageQual')
    
#     GarageCond
    df = cvtRatingToNumeric(df,'GarageCond')
    
#     PavedDrive
    df = label_encoder(df,'PavedDrive')
    
#     WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,

#     PoolQC
    df = cvtRatingToNumeric(df,'PoolQC')
    
#     Fence
    df = cvtRatingToNumeric4(df,'Fence')
    
#     MiscFeature
    df['MiscFeature'] = df['MiscFeature'].fillna('None')
    df = label_encoder(df,'MiscFeature')
    
#     MiscVal,MoSold,YrSold -> numeric

#     SaleType
    df['SaleType'] = df['SaleType'].fillna("None")
    df = label_encoder(df,'SaleType')
    
#     salecondition
    df = label_encoder(df,'SaleCondition')
    return df

In [199]:
def check_null_each_column(df):
    count = 0
    null_column = []
    for col in df:
        if(df[col].isnull().sum()!=0):
            print(col + " have null ->" + str(df[col].isnull().sum()))
            count+=1
            null_column.append(col)
    print("  Column which have null have " + str(count))
    return null_column

In [200]:
def mergeDataSet(train,test):
    train['isTrain'] = True
    test['isTrain'] = False
    test['SalePrice'] = 0
#     combined = pd.concat([train,test],sort=False)
    combined = train.append(test, ignore_index = True)
    return combined

In [201]:
df_train = pd.read_csv('./train.csv')
df_test = pd.read_csv('./test.csv')
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [202]:
df_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [203]:
df['Functional'].tail()

2914    Typ
2915    Typ
2916    Typ
2917    Typ
2918    Typ
Name: Functional, dtype: object

In [204]:
df = mergeDataSet(df_train,df_test)

In [205]:
# df_train['GarageCars']

In [206]:
df = mergeDataSet(df_train,df_test)
df.tail()
# df['SalePrice'].tail()
df = cleaning(df)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:282: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [73]:
# for col in df.columns:
# #     print
#     print(col , df[col].dtype )

In [79]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,isTrain
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0,True
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0,True
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0,True
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0,True
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0,True

In [207]:
check_null_each_column(df)

  Column which have null have 0

[]

In [81]:
df_train['MSZoning'].head()

0    RL
1    RL
2    RL
3    RL
4    RL
Name: MSZoning, dtype: object